[Desktop Entry]
Type=Application
Version=1.5
Name=st
GenericName=Terminal
Comment=Simple Suckless Terminal for X
Icon=utilities-terminal
Exec=st
TryExec=st
Terminal = false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
